<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" requireReinstallation="True" />
  <package id="Joe.Caching" version="1.0.8" targetFramework="net40" />
  <package id="Joe.Init" version="1.0.0.3" targetFramework="net40" />
  <package id="Joe.Map" version="2.0.0.3-alpha" targetFramework="net40" />
  <package id="Joe.Reflection" version="1.0.9" targetFramework="net45" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net40" />
</packages>